@font-face {
  font-family: 'Frank Ruhl Libre';
  src: url('../fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf') format('truetype');
  font-family: 'Italianno';
  src: url('../fonts/Italianno/Italianno-Regular.ttf') format('truetype');
}

body,
html {
  background-color: #F6F2E6
}

section {
  width: 100%;
}

/* navigation */

.navbar-brand,
h2, h3, #contact-name {
  font-family: 'Italianno', cursive;
  font-size: 2.1em;
}

.nav-link,
p {
  font-family: 'Frank Ruhl Libre', serif;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255, 0.3);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 0.9em;
  border: none;
}

/* contact */

#kontakt ul {
  margin: 0;
  padding-left: 0;
}

#kontakt li {
  list-style-type: none;
}

#contact-link {
  text-decoration: none;
  color: #212529;
}

.contact-description {
  font-family: 'Italianno', cursive;
  font-size: 2.2em;
}

.image-shadow {
  box-shadow: 50px 50px 10px #F6F2E6;
}

/* footer */

.copyrights {
  padding: 0.5rem;
  font-family: 'Frank Ruhl Libre', serif;
}

.fb-icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 0.5rem
}