body,html {
    height: 100%;
    background-color: #F6F2E6
  }

section {
    width: 100%;
    min-height: 100%;
  }

/* navigation */

.navbar-brand, h2 {
font-family: 'Dosis', sans-serif;
}

.navar-link, p {
  font-family: 'Open Sans', sans-serif;
}

/* kontakt */

#kontakt {
    min-height: 80%;
  }

#kontakt ul {
    margin: 0;
    padding-left: 0;
  }
  
#kontakt li {
    list-style-type: none;
  }

/* footer */

.copyrights {
    padding: 0.5rem
}

.fb-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin: 0.5rem
  }